In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-whitegrid')

import seaborn as sns
from sklearn.metrics import accuracy_score, f1_score

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
pd.set_option('display.max_colwidth', -1)

import warnings
warnings.simplefilter('ignore')
print(" All required modules are imported")

 All required modules are imported

In [2]:
import os
os.chdir("C:\\Users\\NIlesh\\HackLive\\HackLive Guided")
os.getcwd()

'C:\\Users\\NIlesh\\HackLive\\HackLive Guided'

In [3]:
os.listdir()

['SampleSubmission.csv', 'Test.csv', 'Train.csv']

In [4]:
df_train = pd.read_csv('Train.csv')
df_test = pd.read_csv('Test.csv')

In [5]:
cat_cols = [x for x in df_train if df_train[x].dtypes == "object" and x !="id"]
cat_cols

['job_type',
 'marital',
 'education',
 'default',
 'housing_loan',
 'personal_loan',
 'communication_type',
 'month',
 'prev_campaign_outcome']

In [6]:
ID_COL, TARGET_COL = 'id', 'term_deposit_subscribed'
features = [c for c in df_train.columns if c not in [ID_COL, TARGET_COL]]

num_cols = [c for c in features if c not in cat_cols]

In [7]:
df_train.head()

,id,customer_age,job_type,marital,education,default,balance,housing_loan,personal_loan,communication_type,day_of_month,month,last_contact_duration,num_contacts_in_campaign,days_since_prev_campaign_contact,num_contacts_prev_campaign,prev_campaign_outcome,term_deposit_subscribed
0,id_43823,28.0,management,single,tertiary,no,285.0,yes,no,unknown,26,jun,303.0,4.0,NaN,0,unknown,0
1,id_32289,34.0,blue-collar,married,secondary,no,934.0,no,yes,cellular,18,nov,143.0,2.0,132.0,1,other,0
2,id_10523,46.0,technician,married,secondary,no,656.0,no,no,cellular,5,feb,101.0,4.0,NaN,0,unknown,0
3,id_43951,34.0,services,single,secondary,no,2.0,yes,no,unknown,20,may,127.0,3.0,NaN,0,unknown,0
4,id_40992,41.0,blue-collar,married,primary,no,1352.0,yes,no,cellular,13,may,49.0,2.0,NaN,0,unknown,0

In [8]:
print(f"Shape of the training data is {df_train.shape}")

Shape of the training data is (31647, 18)

In [9]:
pd.get_dummies(df_train[['job_type']])

,job_type_admin.,job_type_blue-collar,job_type_entrepreneur,job_type_housemaid,job_type_management,job_type_retired,job_type_self-employed,job_type_services,job_type_student,job_type_technician,job_type_unemployed,job_type_unknown
0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
31642,1,0,0,0,0,0,0,0,0,0,0,0
31643,0,0,0,0,1,0,0,0,0,0,0,0
31644,0,0,0,0,0,0,0,0,0,0,1,0
31645,0,0,0,0,0,0,0,1,0,0,0,0
31646,0,0,0,0,0,0,0,0,0,1,0,0

In [10]:
df = pd.concat([df_train, df_test], axis=0).reset_index(drop = True)
print(f"Shape of overall dataframe is {df.shape}")

Shape of overall dataframe is (45211, 18)

In [11]:
df = pd.get_dummies(df, columns = cat_cols)

In [12]:
print(f"Shape of the overall dataframe with dummy variables is {df.shape}")

Shape of the overall dataframe with dummy variables is (45211, 53)

In [13]:
df = df.fillna(-999)
df.isnull().sum().sum()

0

In [14]:
train_proc, test_proc = df[:df_train.shape[0]], df[df_train.shape[0]:].reset_index(drop = True)
features = [c for c in train_proc.columns if c not in [ID_COL, TARGET_COL]]

In [15]:
sub_id = df_test["id"]

In [16]:
trn, val = train_test_split(train_proc, test_size=0.2, random_state = 1, stratify = train_proc[TARGET_COL])

X_trn, X_val = trn[features], val[features]

y_trn, y_val = trn[TARGET_COL], val[TARGET_COL]

X_test = test_proc[features]

In [17]:
X_trn.head()

,balance,customer_age,day_of_month,days_since_prev_campaign_contact,last_contact_duration,num_contacts_in_campaign,num_contacts_prev_campaign,job_type_admin.,job_type_blue-collar,job_type_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,prev_campaign_outcome_failure,prev_campaign_outcome_other,prev_campaign_outcome_success,prev_campaign_outcome_unknown
21182,4963.0,53.0,8,333.0,98.0,1.0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4607,2152.0,40.0,5,169.0,310.0,2.0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,0
14135,3.0,43.0,30,259.0,204.0,1.0,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22687,6103.0,30.0,27,-999.0,344.0,1.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2842,569.0,41.0,17,-999.0,458.0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [18]:
scaler = StandardScaler()
_ = scaler.fit(X_trn)

X_trn = scaler.transform(X_trn)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

In [19]:
print(f"Shapr of the X_trn is {X_trn.shape}")

Shapr of the X_trn is (25317, 51)

In [20]:
X_trn[:,0]

array([ 1.1751993 ,  0.26492413, -0.43097816, ..., -0.23506337,
       -0.26841746,  1.01101947])

In [22]:
clf = LogisticRegression(random_state = 1)
_ = clf.fit(X_trn, y_trn)

preds_val = clf.predict(X_val)

print(f"F1 Score is {f1_score(y_val, preds_val)}")

F1 Score is 0.4720379146919431

In [23]:
preds_test = clf.predict(X_test)

In [24]:
TARGET_COL

'term_deposit_subscribed'

In [25]:
sub_columns = {"id":sub_id,TARGET_COL:preds_test}
df_submit = pd.DataFrame(sub_columns)

In [26]:
df_submit

             id  term_deposit_subscribed
0      id_17231  0.0
1      id_34508  0.0
2      id_44504  0.0
3      id_174    0.0
4      id_2115   1.0
...        ...   ...
13559  id_42406  0.0
13560  id_14483  0.0
13561  id_43066  0.0
13562  id_18375  0.0
13563  id_12898  0.0

[13564 rows x 2 columns]

In [27]:
df_submit.to_csv("HackLive_Submission.csv", index = False)

In [28]:
os.listdir()

['HackLive_Submission.csv', 'SampleSubmission.csv', 'Test.csv', 'Train.csv']